
@keyframes moveLeft {
  from {left: -100%}
  to {left: 100%}
}
@keyframes MoveRight {
  from {left: 100%;}
  to {left: -100%;}
}

.animation-auto-left
{

  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-duration: 20s;
  animation-timing-function:inherit ;
  animation-name: moveLeft;
  position: relative;
}
.animation-auto-right
{

  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-duration: 20s;
  animation-timing-function:inherit ;
  animation-name: MoveRight;
  position: relative;
}